@import url('https://fonts.googleapis.com/css?family=Arvo|Lato|Nunito|PT+Serif|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton|PT+Sans+Narrow|Roboto:400,900|Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton|Lobster|PT+Sans+Narrow|Pacifico|Roboto:400,900|Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Righteous&display=swap');
/** Root Styles **/
:root{
    --electric-violet:#8f00ff;
    --electric-blue:#0892d0;
    --light-grey:#D3D5D7;
    --rich-blue:#011627;
    --baby-powder:#FDFFFC;
    --blue-orient: #00628B;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}

  /** Styles for home section **/
  .home-content{
    height: 85vh;
    background-size: cover;
    background-position: center;
    background-image: url('images/background.jpg');
}

.fab fa-github{
    font-size: 10px;
}

.logo{
      float: left;
      margin:20px;
      text-decoration: none;
      color:#E6E6DC;
      font-family: 'Abril Fatface', cursive;
      font-size: 22px;
  }

  .logo span{
      color:#00ffff;
  }

  .navbar{
      z-index: 99;
      position: relative;
  }

  .navbar ul{
    margin: 0;
    float: right;
  }

.navbar ul li{
    list-style-type:none;
    display: inline-block;
    padding: 20px;
    color: #E6E6DC;
    font-size: 18px;  
}

.navbar ul li a{
    text-decoration: none;
    color:#E6E6DC;
}

.navbar ul a{
    text-decoration: none;
    color:#E6E6DC;
    margin-right: 20px;
}

.navbar ul li a:hover{
    background-color: #ffffff;
    padding: 10px;
    opacity: 0.5;
    color:#00628B;
}

.home-col-1{
    color: #81A594;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width:100%;
    align-items: center;
    padding: 60px 0;
}

.home-col-2{
    flex:2.5;
}

.greeting,.name{
    font-size: 45px;
    margin-bottom: 0;
    color:	#00ffff;
}

.name span{
    color: #E6E6DC;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}

.profession{
    font-weight:lighter;
    font-size: 20px;
    color: #ffffff;
}

.hire-me-btn{
    text-decoration: none;
    background-color: #4820da;
    color:var(--yellow-green);
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 0 1px 2px #D3D5D7;
    transition: all 100ms ease;
}

.hire-me-btn:hover{ 
    transform: scale(1.1);
}

/**Styles for Project section **/

.latest-project{
    text-align: center;
    color: #00628B;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    padding: 20px 0;
}

.all-projects{
    display: flex;
    justify-content: space-around;
    
}

/** Styles for project card **/

.card-container{
    width: 300px;
    box-shadow: 0 0 3px 3px var(--light-grey);
    border-radius: 10px;
    background-color: #F7F7FF;
    position: relative;
    margin:30px 30px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

.card-container:hover{
    transform: scale(1.01);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.card-image{
    width:100px;
    height: 150px;
    background-color: var(--blue-orient);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-image img{
    height: 190px;
    width:300px;
    margin-left: 0;
}

.card-content{
    text-align: center;
    padding: 0 4px;
    color:var(--blue-orient);
}

.card-text{
    font-size:12px;
    margin: 20px;
    text-align: left;
}

.btn-link-live{
    text-decoration: none;
    padding: 10px 20px;
    border-radius:6px;
    margin-bottom: 20px;
    background-color: #0058a3;
    color:#F2F3F4;
    font-weight: 200;
}

.btn-link-live:hover{
  transform: scale(1);
}

.btn-link-github{
    text-decoration: none;
    position: absolute;
    top:36%;
    right:10%;
    background-color:black;
    border-radius: 50%;
    color:#F2F3F4;
}

.btn-link-github img{
    height: 40px;
    width: 40px;
}

.tags{
    font-size: 0.8rem;
    color: #404040;
}

.tags span{
    text-align: center;
    margin: 0 5px;
    padding: 2px 4px;
    border-radius: 6px;
    background-color: rgb(0,0,0,0.1);
}

/**Styles for About **/

.about-container{
    height: 60vh;
    background-color: var(--yellow-green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me{
    text-align: center;
    color: #00628B;
    font-family: 'Anton', sans-serif;
    padding-top:40px;
}

.about-container p{
    font-weight: lighter;
}

.about-me, p{
    text-align:center;
    line-height: 2;
    font-size: 18px;
}

/**Styles for Contact **/

#contact{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.contact-me{
    text-align: center;
    color: #8b001d;
    font-family: 'Anton', sans-serif;
}

.know-more{
    display:flex;
    justify-content:center;
}

/** Styles for form get in touch **/
.form{
    text-align: center;
}

input[type=text]{
    font-size: 16px;
    width:30%;
    padding: 10px;
}

input[type=email]{
    font-size: 16px;
    width:30%;
    padding: 10px;
}

.input-icons i{
    position: absolute;
}

.input-icons{
    width: 100%;
    margin-bottom: 10px;
}

.icons{  
    min-width: 50px; 
    text-align: center;
}

.far{
    font-size: 30px;
    margin: 10px;
}
.input-field{
    width: 100%;
    text-align: center;
}

textarea{
    width:31%;
    padding: 10px;
}

.submit{
    padding: 10px;
    color: #F7F7FF;
    background-color: #1d58a3;
    border-radius: 10px;
    font-size: 14px;
    transition: all 100ms ease;
}

.submit:hover, .submit:focus{
    transform: scale(1.1);
}

/** Styles for footer **/

.footer-container{
    padding:20px;
    background-color: #f7f7fe;
}
#footer{
    text-align:center;
    color:#E6E6DC;
}
.social-links{
    display: flex;
    padding: 0;
    justify-content:center;
  } 
  .social-links li{
    list-style-type: none;
    margin: 0 10px;
  }
  i.fa {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
  
  }
ul .social{
    padding-left: 10px;
}
.icon-heart{
    color:red;
}
ul li .fa-github-alt{
    color:white;
    background-color: #3f5995;
    padding:7px 5px;
    border-radius: 50%
  }
  
  ul li .fa-linkedin-in{
    color:white;
    background-color: #177faf;
    padding:7px 5px;
    border-radius: 50%
  }
  ul li .fa-twitter{
    color:white;
    background-color: #23aae9;
    padding:7px 5px;
    border-radius: 50%
  }
  .github-footer{
      text-decoration: none;
      font-weight:bold;
      color:red;
  }

  /** Media queries **/
  @media (min-width: 481px) and (max-width: 767px) {
  
    .navbar{
       float: right;
       display: flex;
    }
    
    .card-container{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .card-image{
       width: 100%;
    }

    .name{
        text-align: center;
    }

    .about p{
        font-size: 10px;
    }
  }
  