@import url('https://fonts.googleapis.com/css?family=Arvo|Lato|Nunito|PT+Serif|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton|PT+Sans+Narrow|Roboto:400,900|Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton|Lobster|PT+Sans+Narrow|Pacifico|Roboto:400,900|Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Righteous&display=swap');
/** Root Styles **/
:root{
    --light-grey:#D3D5D7;
    --rich-blue:#011627;
    --baby-powder:#FDFFFC;
    --blue-orient: #00628B;
    --green-blue: #81A594;
    --yellow-green: #E6E6DC;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}

  /** Styles for home section **/
  .home-content{
    height: 85vh;
    background-size: cover;
    background-position: center;
    background-image: url('images/background.jpg');
}
img .github-nav{
    color:#E6E6DC;
    width: 50px;
}

.logo{
      float: left;
      margin:20px;
      text-decoration: none;
      color:#E6E6DC;
      font-family: 'Abril Fatface', cursive;
      font-size: 22px;
  }
  .logo span{
      color: #81A594;
  }
  .navbar{
      z-index: 99;
      position: relative;
  }
  .navbar ul{
    margin: 0;
    float: right;
  }
.navbar ul li{
    list-style-type:none;
    display: inline-block;
    padding: 20px;
    color: #E6E6DC;
    font-size: 18px;  
}
.navbar ul li a{
    text-decoration: none;
    color:#E6E6DC;
}

.home-col-1{
    color: #81A594;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width:100%;
    align-items: center;
    padding: 60px 0;
    /* background-image: url('images/background.jpg'); */
}
.home-col-2{
    flex:2.5;
    /* background-image: url('images/background.jpg'); */
}
.greeting,.name{
    font-size: 45px;
    margin-bottom: 0;
}

.name span{
    color: #E6E6DC;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}
.profession{
    font-weight:lighter;
    font-size: 20px;
    color: #ffffff;
}
.hire-me-btn{
    text-decoration: none;
    background-color: #4820da;
    color:var(--yellow-green);
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 0 1px 2px #D3D5D7;
}
/**Styles for Project section **/
.latest-project{
    text-align: center;
    color: #00628B;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    padding: 20px 0;
}
.all-projects{
    display: flex;
    justify-content: space-around;
    
}
/** Styles for project card **/

.card-container{
    width: 300px;
    box-shadow: 0 0 3px 3px var(--light-grey);
    border-radius: 10px;
    background-color: var(--yellow-green);
    position: relative;
}
.card-image{
    width:100px;
    height: 150px;
    background-color: var(--blue-orient);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-image img{
    height: 150px;
    width:300px;
}
.card-content{
    text-align: center;
    padding: 0 4px;
    color:var(--blue-orient);
}

.btn-link-live{
    text-decoration: none;
    padding: 10px 20px;
    border-radius:6px;
    margin-bottom: 20px;
    background-color: #0058a3;
    color:var(--yellow-green);
    font-weight: 200;
}
.btn-link-github{
    text-decoration: none;
    position: absolute;
    top:36%;
    right:10%;
    background-color:#81A594;
    border-radius: 50%;
}
.btn-link-github img{
    height: 40px;
    width: 40px;
}
/**Styles for About **/
.about-container{
    height: 60vh;
    background-color: var(--yellow-green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-me{
    text-align: center;
    color: #00628B;
    font-family: 'Anton', sans-serif;
    padding-top:40px;
}
.about-container p{
    font-weight: lighter;
}
.about-me, p{
    text-align:center;
}
/**Styles for Contact **/
.contact-container{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.contact-me{
    text-align: center;
    color: #8b001d;
    font-family: 'Anton', sans-serif;
}
.know-more{
    display:flex;
    justify-content:center;
}

/** Styles for footer **/
.footer-container{
    padding:20px;
    background-color:#81A594;
}
#footer{
    text-align:center;
    color:#E6E6DC;
}
.social-links{
    display: flex;
    padding: 0;
    justify-content:center;
  } 
  .social-links li{
    list-style-type: none;
    margin: 0 10px;
  }
  i.fa {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
  
  }
ul .social{
    padding-left: 10px;
}
.icon-heart{
    color:red;
}
ul li .fa-github-alt{
    color:white;
    background-color: #3f5995;
    padding:7px 5px;
    border-radius: 50%
  }
  
  ul li .fa-linkedin-in{
    color:white;
    background-color: #177faf;
    padding:7px 5px;
    border-radius: 50%
  }
  ul li .fa-twitter{
    color:white;
    background-color: #23aae9;
    padding:7px 5px;
    border-radius: 50%
  }
  .github-footer{
      text-decoration: none;
      font-weight:bold;
      color:#FDFFFC;
  }